In [1]:
import pandas as pd
from math import sqrt
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

/Users/pouya/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [5]:
d = pd.read_csv("/Users/pouya/Machine Learning Course/diamonds.csv",index_col=0)
d.shape

(53940, 10)

In [6]:
d.head(7)

   carat        cut color clarity  depth  table  price     x     y     z
1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
6   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
7   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47

In [9]:
d.color= d.color.apply(list('JIHGFED').index)
d.head(7)

   carat        cut  color clarity  depth  table  price     x     y     z
1   0.23      Ideal      5     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21    Premium      5     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23       Good      5     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29    Premium      1     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31       Good      0     SI2   63.3   58.0    335  4.34  4.35  2.75
6   0.24  Very Good      0    VVS2   62.8   57.0    336  3.94  3.96  2.48
7   0.24  Very Good      1    VVS1   62.3   57.0    336  3.95  3.98  2.47

In [10]:
d.cut= d.cut.apply(['Fair','Good','Very Good','Premium','Ideal'].index)
d.head(7)

   carat  cut  color clarity  depth  table  price     x     y     z
1   0.23    4      5     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21    3      5     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23    1      5     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29    3      1     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31    1      0     SI2   63.3   58.0    335  4.34  4.35  2.75
6   0.24    2      0    VVS2   62.8   57.0    336  3.94  3.96  2.48
7   0.24    2      1    VVS1   62.3   57.0    336  3.95  3.98  2.47

In [13]:
d.clarity= d.clarity.apply(['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF'].index)
d.head(7)

   carat  cut  color  clarity  depth  table  price     x     y     z
1   0.23    4      5        1   61.5   55.0    326  3.95  3.98  2.43
2   0.21    3      5        2   59.8   61.0    326  3.89  3.84  2.31
3   0.23    1      5        4   56.9   65.0    327  4.05  4.07  2.31
4   0.29    3      1        3   62.4   58.0    334  4.20  4.23  2.63
5   0.31    1      0        1   63.3   58.0    335  4.34  4.35  2.75
6   0.24    2      0        5   62.8   57.0    336  3.94  3.96  2.48
7   0.24    2      1        6   62.3   57.0    336  3.95  3.98  2.47

In [14]:
d.describe()

,carat,cut,color,clarity,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,2.904097,3.405803,3.051020,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.116600,1.701105,1.647136,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,0.000000,0.000000,0.000000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,2.000000,2.000000,2.000000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,3.000000,3.000000,3.000000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,4.000000,5.000000,4.000000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,4.000000,6.000000,7.000000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [16]:
x= d.loc[:,(d.columns!= 'price')]
y = d.price

In [18]:
xtrain,xtest,ytrain,ytest= train_test_split(x,y,test_size=.30,random_state=1)
xtrain.shape

(37758, 9)

In [21]:
model= LinearRegression()
newxtrain= xtrain.loc[:,(xtrain.columns !='cut')& (xtrain.columns!='color')&(xtrain.columns!='clarity')]
newxtest= xtest.loc[:,(xtest.columns!='cut')& (xtest.columns!='color')&(xtest.columns!='clarity')]
model.fit(newxtrain,ytrain)
ypred= model.predict(newxtest)

In [22]:
ypred.shape

(16182,)

In [23]:
mean_absolute_error(ytest,ypred)

886.7702123501673

In [24]:
sqrt(mean_squared_error(ytest,ypred))

1458.6722077815718